* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    h3 {
        font-size: 30px;
    }
    button {
        width: 60px;
        font-size: 18px;
    }
}
body{
    background-color: #1F2937;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 40px;
    font-family: karla;
    font-weight: extra-bold;
    width: 354px;
    height: 80px;
    position: fixed; /* Keep the header fixed at the top*/
    z-index: 1000; /* Make sure the header stays above other elements */

}
#first{
    color: white;
    width: 100%; /*Ensure the header spans full width */
    top: 200px;
    
}
#second{
    color: #4ADF86;
    width: 100%; /*Ensure the header spans full width */
    top: 250px;
}
p{
    margin-bottom: 300px;
    font-family: Inter;
    font-size: 20px;
    color: #D5D4D8;
}

button{
    width: 191px;
    height:42px ;
    color: white;
    background-color: #10B981;
    border-radius: 6px;
}